<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <header>
      <p>Logo</p>
      <ol>
        <li>Inicio</li>
        <li>Cursos</li>
        <li>Blog</li>
        <li>Intructores</li>
      </ol>
  </header>
  <section>
    <aside>
      <div class="element element-one">Elemento 1</div>
      <div class="element element-two">Elemento 2</div>
      <div class="element element-three">Elemento 3</div>
      <div class="element element-four">Elemento 4</div>
    </aside>
    <main>
      <p>Area Principal</p>

    </main>
  </section>
  <footer>
    <div class="footer footer-left">Redes Sociales</div>
    <div class="footer footer-right">Informacion</div>
  </footer>
</body>
</html>